<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Golf Tracker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
</head>
<body>
  <nav class="green darken-2">
    <div class="nav-wrapper">
      <img src="../assets/img/golfBall.png" alt="golfBall" class="golfBall"/>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/info">Info</a></li>
        <li><a href="/cards"> View Cards</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <h1 class="container center-align" id="golfHeader">Golf Tracker</h1>
  <section id="makeGolfCard">
    <form id="golfCardForm" name="golfCardForm" action="/maker" method="POST" class="golfCardForm container">
        <table>
            <h5>Course Name</h5>
            <input id="courseName" type="text" name="courseName" placeholder="Enter name here"/>
            <thead>
                <tr>
                    <th>Hole</th>
                    <th>Par</th>
                    <th>Yards</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole1Par" name="hole1Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole1Yards" class="valign-wrapper" type="number" name="hole1Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole1Score" class="valign-wrapper" type="number" name="hole1Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole2Par" name="hole2Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole2Yards" class="valign-wrapper" type="number" name="hole2Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole2Score" class="valign-wrapper" type="number" name="hole2Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole3Par" name="hole3Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole3Yards" class="valign-wrapper" type="number" name="hole3Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole3Score" class="valign-wrapper" type="number" name="hole3Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole4Par" name="hole4Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole4Yards" class="valign-wrapper" type="number" name="hole4Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole4Score" class="valign-wrapper" type="number" name="hole4Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole5Par" name="hole5Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole5Yards" class="valign-wrapper" type="number" name="hole5Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole5Score" class="valign-wrapper" type="number" name="hole5Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole6Par" name="hole6Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole6Yards" class="valign-wrapper" type="number" name="hole6Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole6Score" class="valign-wrapper" type="number" name="hole6Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole7Par" name="hole7Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole7Yards" class="valign-wrapper" type="number" name="hole7Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole7Score" class="valign-wrapper" type="number" name="hole7Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole8Par" name="hole8Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole8Yards" class="valign-wrapper" type="number" name="hole8Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole8Score" class="valign-wrapper" type="number" name="hole8Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole9Par" name="hole9Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole9Yards" class="valign-wrapper" type="number" name="hole9Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole9Score" class="valign-wrapper" type="number" name="hole9Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole10Par" name="hole10Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole10Yards" class="valign-wrapper" type="number" name="hole10Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole10Score" class="valign-wrapper" type="number" name="hole10Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole11Par" name="hole11Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole11Yards" class="valign-wrapper" type="number" name="hole11Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole11Score" class="valign-wrapper" type="number" name="hole11Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole12Par" name="hole12Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole12Yards" class="valign-wrapper" type="number" name="hole12Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole12Score" class="valign-wrapper" type="number" name="hole12Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole13Par" name="hole13Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole13Yards" class="valign-wrapper" type="number" name="hole13Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole13Score" class="valign-wrapper" type="number" name="hole13Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole14Par" name="hole14Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole14Yards" class="valign-wrapper" type="number" name="hole14Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole14Score" class="valign-wrapper" type="number" name="hole14Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole15Par" name="hole15Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole15Yards" class="valign-wrapper" type="number" name="hole15Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole15Score" class="valign-wrapper" type="number" name="hole15Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole16Par" name="hole16Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole16Yards" class="valign-wrapper" type="number" name="hole16Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole16Score" class="valign-wrapper" type="number" name="hole16Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole17Par" name="hole17Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole17Yards" class="valign-wrapper" type="number" name="hole17Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole17Score" class="valign-wrapper" type="number" name="hole17Score" placeholder="Score"/>
                    </td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>
                        <div class="input-field col s6 valign-wrapper parSelect">
                        <select id="hole18Par" name="hole18Par">
                            <option value="3">Par 3</option>
                            <option value="4">Par 4</option>
                            <option value="5">Par 5</option>
                            <option value="6">Par 6</option>
                        </select>
                        </div>      
                    </td>
                    <td>
                        <input id="hole18Yards" class="valign-wrapper" type="number" name="hole18Yards" placeholder="Yards"/>
                    </td>
                    <td>
                        <input id="hole18Score" class="valign-wrapper" type="number" name="hole18Score" placeholder="Score"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="divider"></div>
      <input type="hidden" name="_csrf" value={{csrfToken}} />
        <div class="container center-align" id="cardSubmitContainer">
        <a class="waves-effect waves-light btn green darken-2" type="submit" id="cardSubmitButton">Make Golf Card</a>
        </div>
    </form>
  </section>
  <h3><span id="errorMessage"></span></h3>
  <script src="/assets/js/bundle.js"></script>
</body>
</html>