<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Golf Tracker</title>
  <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
</head>
<nav class="green darken-2">
    <div class="nav-wrapper">
      <img src="../assets/img/golfBall.png" alt="golfBall" class="golfBall"/>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/cards"> View Cards</a></li>
        <li><a href="/maker">Add Card</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </div>
  </nav>
<body>
    <div class="container">
    <h1 class="center-align">Golf Tracker</h1>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">Description</div>
            <div class="collapsible-body"><span>This application keeps a record of all your golf scores and displays statistics based on your scores.</span></div>
        </li>
        <li>
            <div class="collapsible-header">Usage</div>
            <div class="collapsible-body"><span>To use this API, you must first create an account on the "Sign up" page. Once you have an account, log into the account in the "Log in" page.
                To create a new golf card, navigate to the "Add Card" page. From there, enter all of the information from your score card into the form and click the "Make Golf Card" button.
                To view your cards, navigate to the "View Cards" page.</span></div>
        </li>
    </ul>
    </div>
</body>
</html>