<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Golf Tracker</title>
  <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
</head>
<nav class="green darken-2">
    <div class="nav-wrapper">
      <img src="../assets/img/golfBall.png" alt="golfBall" class="golfBall"/>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/cards"> View Cards</a></li>
        <li><a href="/maker">Add Card</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/signup">Sign up</a></li>
      </ul>
    </div>
  </nav>
<body>
    <div class="container">
    <h1 class="center-align">Golf Tracker</h1>
    <h2 class="center-align">Page cannot be found!</h2>
    </div>
</body>
</html>